<!DOCTYPE html>
<html>

	<head>
		<title>Sparkd</title>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1 style="font-family: Lato">SPARKD</h1>
				</div>
				<div class="col-md-6">
					<img src="static/logo.png">
				</div>
			</div>

			<div class="row well">	
				<h2 style="font-family: Lato" >INSTAGRAM</h2>
				<div style="text-align:center">
					<div class="row">
					{% for p in instagram_pics %}
						<div class="col-sm-4" style="padding-top: 15px"><a href={{p[0]}}><img src={{p[1]}}></a></div>
					{% endfor %}
					</div>
				</div>
			</div>
			<div class="row well">
				<h2 style="font-family: Lato">TWITTER</h2>
				<div style="text-align:center">
					<div class="row">
						{% for p in twitter_pics %}
						<div class="col-sm-4">{{p|safe}}</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<div style="text-align:center; padding-bottom:20px">
				<i>
					Created with your help!
				</i>
				</div>
			</div>
		</div>
	</body>

</html>